.filter-menu#renovaciones-filter-menu(aria-hidden="true")
    .filter-menu__header
        span.filter-menu__header__title Filtros
        button.filter-menu__header__icon(type="button" aria-label="Cerrar filtros")
            i.icon-close

    .filter-menu__body
        form.filter-menu__form
            .filter-menu__numero
                .filter-menu__label-numero No. de póliza
                input.filter-menu__input-riesgo(
                    type="text"
                    name="numero-poliza"
                    placeholder="Introduce el número de póliza"
                )

            .filter-menu__riesgo
                .filter-menu__label-riesgo Nombre del riesgo
                input.filter-menu__input-riesgo(
                    type="text"
                    name="nombre-riesgo"
                    placeholder=" Introduce el nombre del riesgo"
                )

            .filter-menu__fecha-validez
                .filter-menu__label-fecha-validez Fecha de validez
                .filter-menu__date-range
                    .filter-menu__fecha-inicio
                        input.filter-menu__input-fecha-inicio(
                            type="text"
                            name="fecha-inicio"
                            placeholder="Fecha inicio"
                        )
                        span.icon-calendar.filter-menu__icon-calendar
                    span.filter-menu__date-separator al
                    .filter-menu__fecha-fin
                        input.filter-menu__input-fecha-fin(
                            type="text"
                            name="fecha-fin"
                            placeholder="Fecha fin"
                        )
                        span.icon-calendar.filter-menu__icon-calendar

            .filter-menu__importe
                .filter-menu__label-importe Importe
                input.filter-menu__input-importe(
                    type="text"
                    name="importe"
                    placeholder=" Introduzca importe"
                )

            .filter-menu__estado
                .filter-menu__label-estado Estado
                select.filter-menu__select-estado(name="estado")
                    option(value="Todos los estados") Todos los estados
                    option(value="pendiente") Pendiente
                    option(value="pagada") Pagada
                    option(value="vencido") Vencido
                span.icon-arrow-dropdown.filter-menu__icon-estado-dropdown

    .filter-menu__bottom
        button.filter-menu__bottom__boton-borrar(type="button") Borrar filtros
        button.filter-menu__bottom__boton-aplicar(type="button") Aplicar filtros