section.renovaciones
    .renovaciones__wrapper
        

        -
            const itemsRenovaciones = Array.isArray(clientesData) ? clientesData.slice(0, 10) : [];

        .renovaciones__container
            table.tabla-renovaciones
                thead.tabla-renovaciones__head
                    tr.tabla-renovaciones__head-row
                        th.tabla-renovaciones__head-cell No. de póliza
                        th.tabla-renovaciones__head-cell Nombre del riesgo
                        th.tabla-renovaciones__head-cell Fecha de contrato
                        th.tabla-renovaciones__head-cell Fecha de vencimiento
                        th.tabla-renovaciones__head-cell Importe
                        th.tabla-renovaciones__head-cell Estado de la póliza
                tbody.tabla-renovaciones__body
                    each item in itemsRenovaciones
                        tr.tabla-renovaciones__row
                            td.tabla-renovaciones__cell(data-label="No. de póliza")= item.poliza
                            td.tabla-renovaciones__cell(data-label="Nombre del riesgo")= item.riesgo
                            td.tabla-renovaciones__cell(data-label="Fecha de contrato")= item.contrato
                            td.tabla-renovaciones__cell(data-label="Fecha de vencimiento")= item.vencimiento
                            td.tabla-renovaciones__cell.tabla-renovaciones__cell--importe(data-label="Importe")= item.importe
                            td.tabla-renovaciones__cell(data-label="Estado")
                                if item.estado == 'Pagada'
                                    span.badge-estado.badge-estado--pagada
                                        i.icon-check
                                        |  #{item.estado}
                                else if item.estado == 'Vencido'
                                    span.badge-estado.badge-estado--vencido
                                        i.icon-close
                                        |  Vencido
                                else
                                    span.badge-estado.badge-estado--pendiente
                                        i.icon-clock
                                        |  #{item.estado}
